<!DOCTYPE html>
<html>
<head>
    <title>Admin page</title>
    <%- include layout/head %>
    <script src="../../js/eventpost.js"></script>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" class="active">
            <a class="navbar-brand" href="/admin">Admin</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/">Blog</a></li>
            <li><a href="/admin/user">Users</a></li>
            <li><a href="/admin/product">Product</a></li>
            </ul>
        </div>
    </nav>

     <div class="row">

     <div class="row" style="margin-bottom: 15px">
        <a href="/admin/post/news" class="btn btn-success pull-right">Add new post</a>
     </div>

    <div class = "row panel panel-default">
        <div class="panel-heading">
            Post
        </div>
    <!--head-->
    <div class = "panel-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                      <tr>
                    <th  rowspan="1" colspan="1">Id</th>
                    <th rowspan="1" colspan="1">Title</th>
                    <th style="width:50%" rowspan="1" colspan="1">Content</th>
                    <th style="width:9%" rowspan="1" colspan="1">Author</th>
                    <th rowspan="1" colspan="1">Created Time</th>
                    <th style="width:12%" rowspan="1" colspan="1">Action</th>
                    </tr>
                  </thead>
                <tbody>
                <% if (data && data.posts) {%>
                <% for(var i = 0; i<data.posts.length; i++){ %>
                    <tr>
                        <td><%=data.posts[i].id%></td>
                        <td><%=data.posts[i].title%></td>
                        <td><%=data.posts[i].content%></td>
                        <td><%=data.posts[i].author%></td>
                        <td><%=data.posts[i].created_at%></td>
                        <td>
                            <a href="/admin/post/edit/<%=data.posts[i].id %>" class= "btn btn-primary">Edit</a>
                            <button class= "btn btn-danger post_delete" post_id="<%=data.posts[i].id %>">Delete</button>
                        </td>

                    </tr>
                <%} }%>
                </tbody>
    </table>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>
</html>
