<!DOCTYPE html>
<html>
<head>
    <title>Admin page</title>
    <%- include layout/head %>
    <script src="../../js/eventproduct.js"></script>
    <style type="text/css" media="screen">
.hiddenimg {
  display: none;
}

.hiddentxt {
  font-weight: bold;
  color: #F00;
}

.hiddentxt a {
  
  text-decoration: none;
}

.hiddenclick {
  font-weight: bold;
  color: #F00;
  text-decoration: none;
  cursor: pointer;
}

.hiddenclick a {
  color: #F00;
  text-decoration: none;
}

.hiddenclick a:visited {
  color: #F00;
  text-decoration: none;
}

.hiddentxt:hover ~ .hiddenimg {
  display: block;
}  
</style>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" class="active">
            <a class="navbar-brand" href="/admin">Admin</a>
            </div>
            <ul class="nav navbar-nav">
            <li><a href="/admin/">Blog</a></li>
            <li><a href="/admin/user">Users</a></li>
            <li class="active" ><a href="/admin/product">Product</a></li>
            </ul>
        </div>
    </nav>

     <div class="row">
     <div class="row" style="margin-bottom: 15px">
        <a href="/admin/product/add" class="btn btn-success pull-right">Add new product</a>
     </div>


    <div class = "row panel panel-default">
        <div class="panel-heading">
            Product
        </div>
    <!--head-->
    <div class = "panel-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                      <tr>
                    <th rowspan="1" colspan="1">Mã sản phẩm</th>
                    <th rowspan="1" colspan="1">Mã loại</th>
                    <th style="width:10" rowspan="1" colspan="1">Tên sản phẩm</th>
                    <th rowspan="1" colspan="1">Đơn giá</th>
                    <th style="width:40%" rowspan="1" colspan="1">Hình</th>
                    <th style="width:20%" rowspan="1" colspan="1">Mô tả</th>
                    <th style="width:13%" rowspan="1" colspan="1">Action</th>
                    </tr>
                  </thead>
                <tbody>
                <% if (data && data.products) {%>
                <% for(var i = 0; i<data.products.length; i++){ %>
                    <tr>
                        <td><%=data.products[i].masp%></td>
                        <td><%=data.products[i].maloai%></td>
                        <td><%=data.products[i].tensp%></td>
                        <td><%=data.products[i].dongia%></td>

                        <td><span class="hiddentxt"><a href='../images/Total/<%=data.products[i].hinh %>'><%=data.products[i].hinh %></a></span><span class="hiddenimg"><img src='../images/Total/<%=data.products[i].hinh %>' width="350" /></span></td>
                        <td><%=data.products[i].mota %></td>
                         <td>
                            <a href="/admin/product/edit/<%=data.products[i].masp%>" class= "btn btn-primary">Edit</a>
                            <button class= "btn btn-danger product_delete" product_id="<%=data.products[i].masp %>">Delete</button>
                        </td>
                    </tr>
                <%} }%>
                </tbody>
    </table>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>
</html>
