<!DOCTYPE html>
<html>
<head>
    <title>Admin page</title>
    <%- include layout/head %>
    <script src="../../js/eventpost.js"></script>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" class="active">
            <a class="navbar-brand" href="/admin">Admin</a>
            </div>
            <ul class="nav navbar-nav">
            <li><a href="/admin/">Blog</a></li>
            <li class="active"><a href="/admin/user">Users</a></li>
            <li><a href="/admin/product">Product</a></li>
            </ul>
        </div>
    </nav>

     <div class="row">



    <div class = "row panel panel-default">
        <div class="panel-heading">
            User
        </div>
    <!--head-->
    <div class = "panel-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                      <tr>
                    <th rowspan="1" colspan="1">Email</th>
                    <th style="width:10" rowspan="1" colspan="1">Name</th>
                    <th style="width:50%" rowspan="1" colspan="1">Adress</th>
                    <th rowspan="1" colspan="1">Phone number</th>
                    </tr>
                  </thead>
                <tbody>
                <% if (data && data.users) {%>
                <% for(var i = 0; i<data.users.length; i++){ %>
                    <tr>
                        <td><%=data.users[i].email %></td>
                        <td><%=data.users[i].name %></td>
                        <td><%=data.users[i].address %></td>
                        <td><%=data.users[i].phonenumber %></td>
                    </tr>
                <%} }%>
                </tbody>
    </table>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>
</html>
