<!DOCTYPE html>
<html lang="en">
    <head>
     <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
        <script>tinymce.init({selector:'textarea'});</script>
        <title></title>
        <%- include ../layout/head %>
        <script src="../../../js/eventpost.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="container">
             <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header" class="active">
                    <a class="navbar-brand" href="/admin">Admin</a>
                    </div>
                    <ul class="nav navbar-nav">
                    <li class="active"><a href="/admin/">Blog</a></li>
                    <li><a href="/admin/user">Users</a></li>
                    <li><a href="/admin/product">Product</a></li>
                    </ul>
                </div>
        </nav>
            <div class = "row panel panel-default">
            <div class="panel-heading">
                Edit post
            </div>
            <div class="panel-body">
                <div class="row">
                <div class="col-lg-12">
                <div id="login-alert" style="<% if(!data || !data.error) {%> display:none <%}%>"  class="alert alert-danger">
                            <p>Error:</p>
                            <%if(data && data.error) {%>
                            <span><%=data.error%> </span>
                            <%}%>
                        </div>
                    <form role="form" method="" action="">
                        <input class="id" type ="hidden" name = "id" 
                        value= "<%if(data && data.post){%><%=data.post.id%><%}%>"/>
                        <div class="form-group" >
                            <label>Title</label>
                            <input class="form-control title" name="title" placeholder="Title" 
                            value ="<%if(data && data.post){%><%=data.post.title%><%}%>">
                        </div>

                        <div class="form-group">
                            <label>Content</label>
                            ​<textarea class="form-control" name="content">
                            <%if(data && data.post){%><%=data.post.content%><%}%>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label>Author</label>
                            <input class="form-control author" name="author" placeholder="Author" 
                            value ="<%if(data && data.post){%><%=data.post.author%><%}%>" >
                        </div>
                        <input type="button" value="Edit" class="btn btn-success post_edit"/>
                    </form>
                </div>
                </div>
                </div>
            </div>
    </body>
</html>