<!DOCTYPE html>
<html lang="en">
    <head>
     <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
        <script>tinymce.init({selector:'textarea'});</script>
        <title></title>
        <%- include ../layout/head %>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header" class="active">
                    <a class="navbar-brand" href="/admin">Admin</a>
                    </div>
                    <ul class="nav navbar-nav">
                    <li class="active"><a href="/admin/">Blog</a></li>
                    <li><a href="/admin/user">Users</a></li>
                    <li><a href="/admin/product">Product</a></li>
                    </ul>
                </div>
        </nav>
            <div class = "row panel panel-default">
            <div class="panel-heading">
                Add new post
            </div>
            <div class="panel-body">
                <div class="row">
                <div class="col-lg-12">
                <div id="login-alert" style="<%if(!data || !data.error) {%> display:none <%}%>"  class="alert alert-danger">
                            <p>Error:</p>
                            <%if(data && data.error) {%>
                            <span><%=data.error%> </span>
                            <%}%>
                        </div>
                    <form role="form" method="POST" action="/admin/post/news">
                        <div class="form-group" >
                            <label>Title</label>
                            <input class="form-control" name="title" placeholder="Title">
                        </div>

                        <div class="form-group">
                            <label>Content</label>
                            ​<textarea class="form-control" name="content"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Author</label>
                            <input class="form-control" name="author" placeholder="Author">
                        </div>
                        <button class="btn btn-success" type="submit">Add</button>
                    </form>
                </div>
                </div>
                </div>
            </div>
    </body>
</html>