<!DOCTYPE html>
<html lang="en">

<head>
		<% include Header%>
	</head>
	 <% include SearchAndField%>
	
	<body class="goto-here">
		<!-- thanh menu và navigation-->
		<% include menu%>
		<% include navigation%>
	<!-- END nav -->

	<div class="hero-wrap hero-bread" style="background-image: url('images/Layout/bg_6.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
					<h1 class="mb-0 bread">Blog</h1>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section ftco-degree-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 order-lg-last ftco-animate">
					<div class="row">
						<div class="col-md-12 d-flex ftco-animate">
							<div class="blog-entry align-self-stretch d-md-flex">
								<a href="blog-single.html" class="block-20"
									style="background-image: url('images/Layout/image_1.jpg');">
								</a>
								<div class="text d-block pl-md-4">
									<div class="meta mb-3">
										<div><a href="#">April 9, 2019</a></div>
										<div><a href="#">Admin</a></div>
										<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
									</div>
									<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about
											the blind texts</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts.</p>
									<p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-12 d-flex ftco-animate">
							<div class="blog-entry align-self-stretch d-md-flex">
								<a href="blog-single.html" class="block-20"
									style="background-image: url('images/Layout/image_2.jpg');">
								</a>
								<div class="text d-block pl-md-4">
									<div class="meta mb-3">
										<div><a href="#">April 9, 2019</a></div>
										<div><a href="#">Admin</a></div>
										<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
									</div>
									<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about
											the blind texts</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts.</p>
									<p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-12 d-flex ftco-animate">
							<div class="blog-entry align-self-stretch d-md-flex">
								<a href="blog-single.html" class="block-20"
									style="background-image: url('images/Layout/image_3.jpg');">
								</a>
								<div class="text d-block pl-md-4">
									<div class="meta mb-3">
										<div><a href="#">April 9, 2019</a></div>
										<div><a href="#">Admin</a></div>
										<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
									</div>
									<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about
											the blind texts</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts.</p>
									<p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-12 d-flex ftco-animate">
							<div class="blog-entry align-self-stretch d-md-flex">
								<a href="blog-single.html" class="block-20"
									style="background-image: url('images/Layout/image_5.jpg');">
								</a>
								<div class="text d-block pl-md-4">
									<div class="meta mb-3">
										<div><a href="#">April 9, 2019</a></div>
										<div><a href="#">Admin</a></div>
										<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
									</div>
									<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about
											the blind texts</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts.</p>
									<p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-12 d-flex ftco-animate">
							<div class="blog-entry align-self-stretch d-md-flex">
								<a href="blog-single.html" class="block-20"
									style="background-image: url('images/Layout/image_6.jpg');">
								</a>
								<div class="text d-block pl-md-4">
									<div class="meta mb-3">
										<div><a href="#">April 9, 2019</a></div>
										<div><a href="#">Admin</a></div>
										<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
									</div>
									<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about
											the blind texts</a></h3>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts.</p>
									<p><a href="blog-single.html" class="btn btn-primary py-2 px-3">Read more</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col">
							<div class="block-27">
								<ul>
									<li><a href="#">&lt;</a></li>
									<li class="active"><span>1</span></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&gt;</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div> <!-- .col-md-8 -->
				<div class="col-lg-4 sidebar ftco-animate">
					<div class="sidebar-box">
						<form action="#" class="search-form">
							<div class="form-group">
								<span class="icon ion-ios-search"></span>
								<input type="text" class="form-control" placeholder="Type a keyword and hit enter">
							</div>
						</form>
					</div>
					<div class="sidebar-box ftco-animate">
						<h3 class="heading">Categories</h3>
						<ul class="categories">
							<li><a href="#">Shoes <span>(12)</span></a></li>
							<li><a href="#">Men's Shoes <span>(22)</span></a></li>
							<li><a href="#">Women's <span>(37)</span></a></li>
							<li><a href="#">Accessories <span>(42)</span></a></li>
							<li><a href="#">Sports <span>(14)</span></a></li>
							<li><a href="#">Lifestyle <span>(140)</span></a></li>
						</ul>
					</div>

					<div class="sidebar-box ftco-animate">
						<h3 class="heading">Recent Blog</h3>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(images/Layout/image_1.jpg);"></a>
							<div class="text">
								<h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about
										the blind texts</a></h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> April 27, 2019</a></div>
									<div><a href="#"><span class="icon-person"></span> Admin</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(images/Layout/image_2.jpg);"></a>
							<div class="text">
								<h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about
										the blind texts</a></h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> April 27, 2019</a></div>
									<div><a href="#"><span class="icon-person"></span> Admin</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(images/Layout/image_3.jpg);"></a>
							<div class="text">
								<h3 class="heading-1"><a href="#">Even the all-powerful Pointing has no control about
										the blind texts</a></h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> April 27, 2019</a></div>
									<div><a href="#"><span class="icon-person"></span> Admin</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
					</div>

					<div class="sidebar-box ftco-animate">
						<h3 class="heading">Tag Cloud</h3>
						<div class="tagcloud">
							<a href="#" class="tag-cloud-link">shop</a>
							<a href="#" class="tag-cloud-link">products</a>
							<a href="#" class="tag-cloud-link">shirt</a>
							<a href="#" class="tag-cloud-link">jeans</a>
							<a href="#" class="tag-cloud-link">shoes</a>
							<a href="#" class="tag-cloud-link">dress</a>
							<a href="#" class="tag-cloud-link">coats</a>
							<a href="#" class="tag-cloud-link">jumpsuits</a>
						</div>
					</div>

					<div class="sidebar-box ftco-animate">
						<h3 class="heading">Paragraph</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem
							necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente
							consectetur similique, inventore eos fugit cupiditate numquam!</p>
					</div>
				</div>

			</div>
		</div>
	</section> <!-- .section -->

	<section class="ftco-gallery">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 heading-section text-center mb-4 ftco-animate">
					<h2 class="mb-4">Follow Us On Instagram</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
						live the blind texts. Separated they live in</p>
				</div>
			</div>
		</div>
		<div class="container-fluid px-0">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/Layout/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(images/Layout/gallery-1.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/Layout/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(images/Layout/gallery-2.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/Layout/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(images/Layout/gallery-3.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/Layout/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(images/Layout/gallery-4.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/Layout/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(images/Layout/gallery-5.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/Layout/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(images/Layout/gallery-6.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<footer class="ftco-footer ftco-section">
		<div class="container">
			<div class="row">
				<div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
					</a>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2" style="font-size: 25px; font-weight: bold;">J2WeeK</h2>
						<p>We always want to bring our customers the best experience.</p> 
						<p>Welcome to you come here!</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Menu</h2>
						<ul class="list-unstyled">
							<li><a href="./shop" class="py-2 d-block">Shop</a></li>
							<li><a href="./about" class="py-2 d-block">About</a></li>
							<li><a href="./contact" class="py-2 d-block">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Help</h2>
						<div class="d-flex">
							<ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
								<li><a href="#" class="py-2 d-block">Shipping Information</a></li>
								<li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
								<li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
								<li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
							</ul>
							<ul class="list-unstyled">
								<li><a href="#" class="py-2 d-block">FAQs</a></li>
								<li><a href="#" class="py-2 d-block">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain
										View, San Francisco, California, USA</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929
											210</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
											class="text">info@yourdomain.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<p>
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" /></svg></div>


	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/google-map.js"></script>
	<script src="js/main.js"></script>

</body>

</html>