<!DOCTYPE html>
<html lang="en">
  <head>
		<% include Header%>
	</head>
	 <% include SearchAndField%>
	
	<body class="goto-here">
		<!-- thanh menu và navigation-->
		<% include menu%>
		<% include navigation%>
    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="./">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Wishlist</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <!-- <th>&nbsp;</th>
								<th>&nbsp;</th> -->
								<th>Picture</th>
						        <th>Product</th>
						        <th>Price</th>
						        <th>Quantity</th>
								<th >Total</th>
								<th colspan="2">Action</th>
						      </tr>
						    </thead>
						    <tbody>
								<form method="POST">
										<%-KQ%>
								</form>
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-start">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span id="subtotal"><%-SUBTOTAL.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%> VND</span>
    					</p>
    					<!-- <p class="d-flex">
    						<span>Delivery</span>
    						<span>$0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>$3.00</span>
    					</p> -->
    					<hr>
    					<!-- <p class="d-flex total-price">
    						<span>Total</span>
    						<span>$17.60</span>
						</p> -->
						
						<div>
							<%-FORM_EMAIL%>
						</div>
    				</div>
    				<p class="text-center">
						<input type="button" class="btn btn-primary py-3 px-4" value="Proceed to Checkout" id="btnEmail" onclick="location.href='http://localhost:3000/order'">
					</p>
    			</div>
    		</div>
			</div>
		</section>
		

    <footer class="ftco-footer ftco-section">
      <div class="container">
      	<div class="row">
      		<div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
						</a>
					</div>
      	</div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">J2Week</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="./shop" class="py-2 d-block">Shop</a></li>
                <li><a href="./about" class="py-2 d-block">About</a></li>
                <li><a href="./contact" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
	                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
	                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
	                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
	              </ul>
	              <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="./contact" class="py-2 d-block">Contact</a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
			<p>
				Copyright &copy;
				<script>document.write(new Date().getFullYear());</script> All rights reserved
			</p>
          </div>
        </div>
      </div>
    </footer>
    
  <script>
 
	// function removeCart(event){
	// 	alert(event.target.parentElement)
	// 	event.target.parentElement.remove()
	// }
	
	// if(length==1){
	// 	document.getElementsByClassName('product-remove')[0].addEventListener('click', function(){
	// 		let tensp = document.getElementsByClassName('product-remove')[0].parentElement.childNodes[1].textContent || undefined;
	// 		document.getElementsByClassName('product-remove')[0].parentElement.remove();
	// 		console.log("Remove")
	// 		console.log(0)
	// 		var xhr = new XMLHttpRequest();
	// 			xhr.open("GET", "http://localhost:3000/cart/delete/"+tensp, true);
	// 			xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
				
	// 			xhr.send();
	// 			alert("removed"+tensp);
	// 	})
	// }else{
		function removeCartDOM(e){
			// let length =(document.getElementsByClassName('product-remove').length);
			// for(let i = 0; i<length; i++){
				// document.getElementsByClassName('product-remove')[i].addEventListener('click', function(){
			// 		let tensp = document.getElementsByClassName('product-remove')[i].parentElement.childNodes[1].textContent;
			// 		document.getElementsByClassName('product-remove')[i].parentElement.remove();
			// 		console.log("Remove")
			// 		console.log(i)
			// 	})
			// }
			let tensp = e.parentElement.parentElement.childNodes[1].textContent;
			var xhr = new XMLHttpRequest();
			xhr.open("GET", "http://localhost:3000/cart/delete/"+tensp, true);
			xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
			
			xhr.send();
			alert("removed"+tensp);
			var string=document.querySelectorAll('a.nav-link')[6].text
			var qty_product = e.parentElement.parentElement.childNodes[3].childNodes[0].childNodes[0].value;
			console.log(qty_product)
			var total = parseInt(string.slice(string.indexOf("[")+1, string.indexOf("]"))) - parseInt(qty_product);

			var Sub=document.querySelectorAll('span#subtotal')[0].textContent;
			Sub=Sub.replace(',','')
			Sub=Sub.replace(',','')
			Sub=Sub.replace(',','')
			var sub_product= e.parentElement.parentElement.childNodes[4].textContent
			sub_product=sub_product.replace(',','')
			sub_product=sub_product.replace(',','')
			sub_product=sub_product.replace(',','')
			var subtotal=parseInt(Sub)-parseInt(sub_product)
			console.log(total)
			e.parentElement.parentElement.remove();
			document.querySelectorAll('a.nav-link')[6].text='['+total+']';
			document.querySelectorAll('span#subtotal')[0].textContent=subtotal.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+' VND'
		}

  </script>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
			});
			
			function sendData(dulieu){
				$.ajax({
					url:"http://localhost:3000/cart/sent-details-bill",
					data: {
						data: JSON.stringify(dulieu)
					},
					method:"post",
					dataType:"Json",
					success:function(data){
						alert("Name: "+data.name+"\nEmail: "+data.email+"\nPhone: "+data.numphone+
							"\nProduct: "+data.bill.productName+"\nPrice: "+data.bill.productPrice+
							"\nQuantity: "+data.bill.quantity+"\nSubtotal: "+data.bill.subtotal);
					}
				});
			};

			$("#btnEmail").on("click",function(e){
				var dulieu = {};

				var user = $('#user_email').text();
				if(user == "guest"){
					dulieu.name = $('#name_in_form').val();
					dulieu.email = $('#email_in_form').val();
					dulieu.numphone = $('#numphone_in_form').val();
				}
				else{
					dulieu.name = "";
					dulieu.email = user;
					dulieu.numphone = "";
				}

				var bill = {};
					bill.productName = $('.product-name > h3').map(function(){return $(this).text();}).get();
					bill.productPrice = $('.price').map(function(){return $(this).text();}).get();
					bill.quantity = $('.quantity div input').map(function(){return $(this).val();}).get();
					bill.subtotal = $('#subtotal').text();

				dulieu.bill = bill;

				console.log(dulieu);

				sendData(dulieu);
			});
		    
		});
	</script>
    
  </body>
</html>