<div class="py-1 bg-black">
		<div class="container">
			<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
				<div class="col-lg-12 d-block">
					<div class="row d-flex">
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon mr-2 d-flex justify-content-center align-items-center"><span
									class="icon-phone2"></span></div>
							<span class="text">+ 1235 2355 98</span>
						</div>
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon mr-2 d-flex justify-content-center align-items-center"><span
									class="icon-paper-plane"></span></div>
							<span class="text"><%-email%></span>
						</div>
						<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
							<span class="text">3-5 Business days delivery &amp; Free Returns</span>
						</div>

						<div class="col-md pr-4 d-flex topper align-items-center text-lg-right" id="menu">
							<span class="text"  style="<%if(link == '#') {%> display:none <%}%>" ><a id="userDropdown" id="userDropdown" href="<%-link%>"><%-email%></a></span>
							<ul class = "sub-menu" style="<%if(link == './login') {%> display:none <%} else {%> display:block <%}%>">
								<li><a href="./editUser">User information</a></li>
								<li><a href="#">Check cart</a></li>
								<li><a href="./login/out">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>