<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="./" style="font-size:30px;">J2WEEK</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a href="./" class="nav-link" style="font-size: 12px;"><b>Home</b></a></li>
					<li class="nav-item"><a href="./shop" class="nav-link" style="font-size: 12px;"><b>Shop</b></a></li>
					<li class="nav-item"><a href="./about" class="nav-link" style="font-size: 12px;"><b>About</b></a></li>
					<li class="nav-item"><a href="./blog" class="nav-link" style="font-size: 12px;"><b>Blog</b></a></li>
					<li class="nav-item"><a href="./contact" class="nav-link" style="font-size: 12px;"><b>Contact</b></a></li>
					<li class="nav-item"><a href="./admin" class="nav-link" style="font-size: 12px;"><b>Admin</b></a></li>
					<li class="nav-item cta cta-colored"><a href="./cart" class="nav-link"  style="font-size: 12px;"><span
								class="icon-shopping_cart"></span>[<%-TOTAL%>]</a></li>
					<!--Thanh tìm kiếm-->
					<li class="nav-item"><span class="nav-link">
							<input align="right" name="ten" type="text" id="ten" size="35">
							<button name="search" style="background-color:#000; border-color:#000" onClick="Timkiem();">
								<img width="15" height="15" src="images/Layout/search1.png" />
							</button>
						</span>
					</li>
					<!--<a href= "#" ><img width="20" height="20" src="images/Search.png"/></a>-->
				</ul>
			</div>
		</div>
	</nav>