<!DOCTYPE html>
<html lang="en">
  <head>
		<% include Header%>
	</head>
	<% include SearchAndField%>
		<script src="jquery-3.4.1.min.js"></script>
		<script src="socket.io/socket.io.js"></script>
		<script>
						//gọi 
					
						var socket =io("http://localhost:3000");
					
					
						
					 //NHận chat
					 socket.on("server-gui-chat", function(data){
						var noidung=""
						noidung+="<div class='review'>"
						noidung+="<div class='user-img' style='background-image: url(images/icon_avatar.jpg)'></div><!--Hình ảnh nếu có-->"
						noidung+="<div class='desc'>"
						noidung+="<h4><span id='TenClient' class='text-left'>"+data.Username+"</span><span id='Comment' class='text-right'></span></h4>"
						noidung+="<p class='star'><span>"
          	noidung+="<i class='ion-ios-star-outline'></i>"
          	noidung+="<i class='ion-ios-star-outline'></i>"
						noidung+="<i class='ion-ios-star-outline'></i>"
						noidung+="<i class='ion-ios-star-outline'></i>"
						noidung+="<i class='ion-ios-star-outline'></i></span>"
        		noidung+="<span class='text-right'><a href='#' class='reply'><i class='icon-reply'></i></a></span></p>"
    				noidung+="<p>"+data.msg+"</p><!--Bình luận-->"
						noidung+="</div></div></div>"
					
						$("#KhungChat").append(noidung);
					 })
					
				


					
						//sự kiện chat 
						$(document).ready(function(){
										$("#btnChat").click(function(){
									alert($("#hinh").text())

												socket.emit("Client-chat",{binhluan:$("#txtChat").val(),sanpham:$("#hinh").text(),ten:document.getElementsByClassName('text').item(1).textContent});
												
										});
						});

		</script>
  <body class="goto-here">
		<!-- thanh menu và navigation-->
		<% include menu%>
		<% include navigation%>
    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('images/Layout/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Shop</span></p>
            <h1 class="mb-0 bread">Shop</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				<%- Hinh %>
    			</div>
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3><%- Tensp %></h3>
    				<div class="rating d-flex">
							<p class="text-left mr-4">
								<a href="#" class="mr-2">5.0</a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
							</p>
							<p class="text-left mr-4">
								<a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
							</p>
							<p class="text-left">
								<a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
							</p>
						</div>
    				<p class="price"><span><%- Gia %></span></p>
    				<p>	<%-Mota%></p>
						</p>
						<div class="row mt-4">
							<div class="col-md-6">
								<div class="form-group d-flex">
		              <div class="select-wrap">
	                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
	                  <select name="" id="" class="form-control">
	                  	<option value="">Small</option>
	                    <option value="">Medium</option>
						<option value="">Large</option>
	
						<option id="hinh" style="display:none" value=""><%-hinh1%></option>
						  
	                  </select>
	                </div>
		            </div>
							</div>
							<div class="w-100"></div>
							<div class="input-group col-md-6 d-flex mb-3">
	             	<span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
	                   <i class="ion-ios-remove"></i>
	                	</button>
	            		</span>
	             	<input type="text" id="quantity" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
	             	<span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
	                     <i class="ion-ios-add"></i>
	                 </button>
	             	</span>
	          	</div>
	          	<div class="w-100"></div>
	          	<div class="col-md-12">
	          		<p style="color: #000;">80 piece available</p>
	          	</div>
          	</div>
          	<p><a href="#" class="btn btn-black py-3 px-5 mr-2">Add to Cart</a><a href="./cart" class="btn btn-primary py-3 px-5">Buy now</a></p>
    			</div>
    		</div>




    		<div class="row mt-5">
          <div class="col-md-12 nav-link-wrap">
            <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link ftco-animate active mr-lg-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Description</a>

              <a class="nav-link ftco-animate mr-lg-1" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Manufacturer</a>

              <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Reviews</a>

            </div>
          </div>
          <div class="col-md-12 tab-wrap">
            
            <div class="tab-content bg-light" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
              	<div class="p-4">
	              	<h3 id="Tensp" class="mb-4"><%-Tensp%></h3>
	              	<p>	<%-Mota%></p>
              	</div>
              </div>

              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
              	<div class="p-4">
	              	<h3 class="mb-4">Manufactured By Nike</h3>
	              	<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
              	</div>
              </div>
              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
              	<div class="row p-4">
						   		<div class="col-md-7"> <!--Chứa comment-->
										 <h3 class="mb-4">Reviews</h3>
										 <div id="KhungChat" >
															<%-chat%>
										 </div>
											
									 <!--End comment-->
									
										
									 
						   		<div class="col-md-4"><!--Khung dùng tên-->
						   			<div class="rating-wrap">
											 <h3 class="mb-4">Give a Review</h3>
											 <form>
												<input type="text" class="btn btn-primary py-3 px-4" id="txtChat" placeholder="Message..."/><input type="button" id="btnChat" class="btn btn-primary py-3 px-4" value="Send"/>
											 </form>
											 
											</div>
										</div>
									</div>
								</div>
				   </div>
				 </div>
			   </div>
			 </div>
			 </div>
		 </section>
		

    <footer class="ftco-footer ftco-section">
      <div class="container">
      	<div class="row">
      		<div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
						</a>
					</div>
      	</div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Minishop</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Shop</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Journal</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
	                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
	                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
	                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
	              </ul>
	              <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="#" class="py-2 d-block">Contact</a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
	<script>
		document.getElementsByClassName('btn btn-black py-3 px-5 mr-2')[0].addEventListener('click', function(){
			// document.getElementsByClassName('add-to-cart text-center py-2 mr-1')[i].parentElement.remove();
			
			let tensp = document.getElementsByClassName('col-lg-6 product-details pl-md-5 ftco-animate fadeInUp ftco-animated')[0].firstElementChild.innerText;
			let image= document.getElementsByClassName('img-fluid')[0].alt
			let price=document.getElementsByClassName('price')[0].childNodes[0].textContent;
			let quantity=document.getElementsByClassName('quantity form-control input-number')[0].value
			price=price.slice(0,price.indexOf("VND"));
			var xhr = new XMLHttpRequest();
				xhr.open("GET", `http://localhost:3000/shop/${tensp}/${image}/${price}/${quantity}`, true);
				xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
				
				xhr.send();
				alert("Add"+tensp+"\n"+image+"\n"+price+"\n"+quantity);
		})
				
	</script>
	<script>
			document.getElementsByClassName('btn btn-primary py-3 px-5')[0].addEventListener('click', function(){
				// document.getElementsByClassName('add-to-cart text-center py-2 mr-1')[i].parentElement.remove();
				
				let tensp = document.getElementsByClassName('col-lg-6 product-details pl-md-5 ftco-animate fadeInUp ftco-animated')[0].firstElementChild.innerText;
				let image= document.getElementsByClassName('img-fluid')[0].alt
				let price=document.getElementsByClassName('price')[0].childNodes[0].textContent;
				let quantity=document.getElementsByClassName('quantity form-control input-number')[0].value
				price=price.slice(0,price.indexOf("VND"));
				var xhr = new XMLHttpRequest();
					xhr.open("GET", `http://localhost:3000/shop/${tensp}/${image}/${price}/${quantity}`, true);
					xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
					
					xhr.send();
					alert("BUY"+tensp+"\n"+image+"\n"+price+"\n"+quantity);
			})
					
		</script>

	
  </body>
</html>