<script language="javascript" type="text/javascript">
	function Timkiem() {
		window.location = "http://localhost:3000/?key=" + document.getElementById("ten").value
	}

</script>
<script language="javascript" type="text/javascript">
	function LocGia() {
		window.location = "http://localhost:3000/?Pfrom=" + document.getElementById("people").value + "&Pto=" + document.getElementById("people1").value
	}
</script>