<!DOCTYPE html>
<html lang="en">
<head>
	<title>Signup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
<style>
	.container-login100 {
		background-image: linear-gradient(45deg,rgb(102, 102, 102, 0.8) 55%,rgb(193, 167, 62,0.85)), url("images/background.jpg");
		background-size: cover;
		background-position: center;
		/*view height*/
		
		background-attachment: fixed;
	}
</style>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
        
			<div class="wrap-signup100">
			<h1>Thank you!!</h1>
            <p>Your email is sent to J2Week's admin</p>

            <div class="container-login100-form-btn">
				<div class="wrap-login100-form-btn">
				<div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" onclick="location.href='/'">Home Page</button>
                </div>
        </div>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>


	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/mainlog.js"></script>

</body>
</html>