<!DOCTYPE html>
<html lang="en">
<head>
	<title>Signup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
<style>
	.container-login100 {
		background-image: linear-gradient(45deg,rgb(102, 102, 102, 0.8) 55%,rgb(193, 167, 62,0.85)), url("images/background.jpg");
		background-size: cover;
		background-position: center;
		/*view height*/
		
		background-attachment: fixed;
	}
</style>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
        
			<div class="wrap-signup100">
				<form class="login100-form validate-form" method="POST" action="/signup">
						<div id="signupalert" style="<%if(!data || !data.error) {%> display:none <%}%>"  class="alert alert-danger">
                            <p>Error:</p>
                            <%if(data && data.error) {%>
                            <span><%=data.error%> </span>
                            <%}%>
                        </div>
					<span class="login100-form-title p-b-26">
						Signup
					</span>
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="email">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate="Enter re-password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="repassword">
						<span class="focus-input100" data-placeholder="Confirm password"></span>
					</div>

					 <div class="wrap-input100" >
						
						<input class="input100" type="text" name="name">
						<span class="focus-input100" data-placeholder="Name"></span>
					</div>

                    <div class="wrap-input100" >
						
						<input class="input100" type="tel" name="phone">
						<span class="focus-input100" data-placeholder="Phone number"></span>
					</div>

                    <div class="wrap-input100" >
						<input class="input100" type="text" name="address">
						<span class="focus-input100" data-placeholder="Address"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>

							<input class="login100-form-btn"  type="submit"  value="Sign Up"> 

						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>


	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/mainlog.js"></script>

</body>
</html>