.btn{
	padding: .3rem .3rem !important;
    font-size: 0.85rem !important;
}
.ftco-navbar-light{
	top:40px;
}
.bg-black{
	padding-bottom: 15px !important;
	
}
.py-1{
	padding-top: 15px !important;		
}
.sub-menu{
	line-height: 15px;
	position: absolute; 
	list-style: none;
	text-align: left;
}
#menu{
	position: relative; 
}
#menu:hover .sub-menu{
	display: block;
}