<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="/admin">Admin</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/post">Blog</a></li>
            <li><a href="/admin/user">Users</a></li>
            <li><a href="#">Product</a></li>
            
            </ul>
        </div>
    </nav>