<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <%- include ../layout/head %>
        <script src="../../../js/eventproduct.js"></script>
    </head>
    <style type="text/css" media="screen">
.hiddenimg {
  display: none;
}

.hiddentxt {
  font-weight: bold;
  color: #F00;
}

.hiddentxt a {
  
  text-decoration: none;
}

.hiddenclick {
  font-weight: bold;
  color: #F00;
  text-decoration: none;
  cursor: pointer;
}

.hiddenclick a {
  color: #F00;
  text-decoration: none;
}

.hiddenclick a:visited {
  color: #F00;
  text-decoration: none;
}

.hiddentxt:hover ~ .hiddenimg {
  display: block;
}
</style>

<script type="text/javascript">
    $(document).ready(function(){
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            $('.hinh').val(Date.now()+'-upfile-'+fileName);
        });
    });
</script>
    <body>
        <div class="container">
             <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header" class="active">
                    <a class="navbar-brand" href="/admin">Admin</a>
                    </div>
                    <ul class="nav navbar-nav">
                    <li><a href="/admin/">Blog</a></li>
                    <li><a href="/admin/user">Users</a></li>
                    <li class="active"><a href="/admin/product">Product</a></li>
                    </ul>
                </div>
        </nav>
            <div class = "row panel panel-default">
            <div class="panel-heading">
                Edit post
            </div>
            <div class="panel-body">
                <div class="row">
                <div class="col-lg-12">
                <div id="login-alert" style="<% if(!data || !data.error) {%> display:none <%}%>"  class="alert alert-danger">
                            <p>Error:</p>
                            <%if(data && data.error) {%>
                            <span><%=data.error%> </span>
                            <%}%>
                        </div>
                    <form action="/admin/product/edit" method="POST" enctype="multipart/form-data">
                        <input class="id" type ="hidden" name = "masp" value= "<%if(data && data.product){%><%=data.product.masp%><%}%>"/>
                        <div class="form-group" >
                            <label>Mã sản phẩm</label>
                            <input disabled class="form-control masp" name="masp" placeholder="Mã sản phẩm" 
                            value ="<%if(data && data.product){%><%=data.product.masp%><%}%>">
                        </div>
                        <div class="form-group">
                            <label>Mã loại</label>
                            ​<input class="form-control maloai" name="maloai" placeholder="Mã loại"
                            value ="<%if(data && data.product){%><%=data.product.maloai%><%}%>">
                        </div>
                        <div class="form-group">
                            <label>Tên sản phẩm</label>
                            ​<input class="form-control tensp" name="tensp" placeholder="Tên sản phẩm"
                            value ="<%if(data && data.product){%><%=data.product.tensp%><%}%>">
                        </div>

                        <div class="form-group">
                            <label>Đơn giá</label>
                            ​<input class="form-control dongia" name="dongia" placeholder="Đơn giá"
                            value ="<%if(data && data.product){%><%=data.product.dongia%><%}%>">
                        </div>

                        <div class="form-group">
                            <label>Hình</label>
                            ​<input class="form-control hinh" placeholder="Hình"
                            value ="<%if(data && data.product){%><%=data.product.hinh%><%}%>
                            ">
                            <span class="hiddentxt">Hình cũ <a class='linkhinh' href='../../../images/Total/<%=data.product.hinh %>'><%=data.product.hinh %></a></span><span class="hiddenimg"><img src='../../../images/Total/<%=data.product.hinh%>' width="350" /></span>
                            <br/>
                            <span><b>Chọn hình mới</b></span>
                            <input type="file" name="uphinh">
                        </div>

                        <div class="form-group">
                            <label>Mô tả</label>
                            ​<input class="form-control mota" name="mota" placeholder="Mô tả"
                            value ="<%if(data && data.product){%><%=data.product.mota%><%}%>">
                        </div>
                        <input type="submit" value="Edit" class="btn btn-success product_edit"/>
                    </form>
                </div>
                </div>
                </div>
            </div>
    </body>
</html>