<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <%- include ../layout/head %>
    </head>
    <body>
        <div class="container">
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header" class="active">
                    <a class="navbar-brand" href="/admin">Admin</a>
                    </div>
                    <ul class="nav navbar-nav">
                    <li><a href="/admin/">Blog</a></li>
                    <li><a href="/admin/user">Users</a></li>
                    <li class="active"><a href="/admin/product">Product</a></li>
                    </ul>
                </div>
        </nav>
            <div class = "row panel panel-default">
            <div class="panel-heading">
                Add new product
            </div>
            <div class="panel-body">
                <div class="row">
                <div class="col-lg-12">
                <div id="login-alert" style="<%if(!data || !data.error) {%> display:none <%}%>"  class="alert alert-danger">
                            <p>Error:</p>
                            <%if(data && data.error) {%>
                            <span><%=data.error%> </span>
                            <%}%>
                        </div>
                    <form action="/admin/product/add" method="POST" enctype="multipart/form-data">
                        <div class="form-group" >
                            <label>Mã sản phẩm</label>
                            <input class="form-control" name="masp" placeholder="Mã sản phẩm">
                        </div>

                        <div class="form-group">
                            <label>Mã loại</label>
                            <input class="form-control" name="maloai" placeholder="Mã loại">
                        </div>

                        <div class="form-group">
                            <label>Tên sản phẩm</label>
                            <input class="form-control" name="tensp" placeholder="Tên sản phẩm">
                        </div>

                        <div class="form-group">
                            <label>Đơn giá</label>
                            <input class="form-control" name="dongia" placeholder="Đơn giá">
                        </div>

                         <div class="form-group">
                            <label for="example-input-file">Hình ảnh</label>
                            <input type="file" name="hinh">
                        </div>

                        <div class="form-group">
                            <label for="example-input-file">Mô tả</label>
                            ​<textarea class="form-control" rows="10" style="resize: none" name="mota" placeholder="Mô tả"></textarea>
                        </div>
                        <button class="btn btn-success" type="submit">Add</button>
                    </form>
                </div>
                </div>
                </div>
            </div>
    </body>
</html>